<!-- <header>
    <div class="heading">Welcom to University Board Application!</div>
    <div class="user-icon">
       
       
        
       
    </div>
</header> -->

<nav class="navbar navbar-expand-md navbar-dark  fixed-top" style="background-color: #10deff!important;
">
   <div style=" width: -webkit-fill-available; position: relative;">
    <div>
    <a class="navbar-brand"  style="float: left;">
        <img src="../../assets/images/university.png" width="30" height="30" class="d-inline-block align-top" alt="">
        <span class="menu-collapsed">University Board</span>
    </a> 
   </div>
    <div class="collapse navbar-collapse" id="navbarNavDropdown" style="position: relative;float: right;right: 0;">
        <ul class="navbar-nav">
             
            <li class="nav-item active">
                <img class="avatar" src="../../assets/images/imggagan.png" />
                <span class="username">{{userData.name}}</span>
            </li>
            <li class="nav-item">
                <span class="logout" (click)="logout()">Logout</span>
            </li>
            
        </ul>
    </div>
</div>
</nav>